<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- default values for lumen test -->
    <add key="default.distance" value="19.3333"/>    <!--foot candles-->
    <add key="default.correction.calibration" value="0.97484"/>
    <add key="default.correction.theta" value="1.09313"/>   <!-- radians theta from arm length -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
