<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Goniometer_Controller" type="Goniometer.GoniometerConfigurationSection,Goniometer"/>
  </configSections>
  <Goniometer_Controller>
    <sensors>
      <add name="T10"   type="Minolta T10"   port="COM7" />
      <add name="CL200" type="Minolta CL200" port="COM6" />
    </sensors>
  </Goniometer_Controller>
  <connectionStrings>
    <add name="Goniometer_Controller.Properties.Settings.CalibrationConnectionString" connectionString="Data Source=|DataDirectory|\Calibration\Calibration.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  </connectionStrings>
  <appSettings>
    <!-- location of log files -->
    <add key="logFile" value="C:/log/goniometer.log"/>
    <add key="logFileSize" value="1024"/>
    <!--kB-->

    <!-- location of report files -->
    <add key="default.reportFolder" value="C:/data/"/>

    <!-- settings required to send email -->
    <add key="fromEmail" value="cltc-goniometer@ucdavis.edu"/>
    <add key="smtpHost" value="smtp.ucdavis.edu"/>

    <!-- default values for lumen test -->
    <add key="default.distance" value="19.3333"/>
    <!--foot candles-->
    <add key="default.correction.calibration" value="0.959951"/>
    <!--<add key="default.correction.calibration" value="1"/>-->
    <add key="default.correction.theta" value="1.09313"/>
    <!-- radians theta from arm length -->

    <!-- connection info for motor controller -->
    <add key="motor.mac" value="00-90-55-00-48-67"/>
    <add key="motor.ip" value="192.168.1.30"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
